@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
    margin:0;
    padding:0;
}


.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color: #51535D;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #fff !important;
}